/**
/*~~~~~~~~~~~~~~~//
/* MAIN
/*~~~~~~~~~~~~~~~//
**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
	--dark: rgb(51, 51, 51);
	--white: rgb(244, 244, 244);
	--real-white: rgb(255, 255, 255);
	--lightgrey: rgb(211, 211, 211);
	--green: rgb(95, 158, 160);
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	color: var(--dark);
	background-color: var(--white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

footer {
	text-align: center;
	margin-top: 1rem;
}

/**
/*~~~~~~~~~~~~~~~//
/* CONTAINER
/*~~~~~~~~~~~~~~~//
**/
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 768px;
	padding: 0.5rem;
	margin: auto;
}
.content {
	flex-grow: 1;
}

/**
/*~~~~~~~~~~~~~~~//
/* HEADER
/*~~~~~~~~~~~~~~~//
**/
.header-wrapper {
	text-align: center;
	text-transform: uppercase;
}

/**
/*~~~~~~~~~~~~~~~//
/* NAVBAR
/*~~~~~~~~~~~~~~~//
**/
.icona {
	cursor: pointer;
	width: 80px;
	height: 80px;
}
.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}
.navbar-li {
	display: grid;
	margin-left: 1rem;
	font-size: 0.7rem;
	color: var(--dark);
	text-decoration: none;
}
.navbar-li-active {
	color: var(--green) !important;
}
.navbar-li-icon {
	text-align: center;
}

/**
/*~~~~~~~~~~~~~~~~//
/* HOME
/* SUPPLIER-FORM
/* AUDIT-FORM
/*~~~~~~~~~~~~~~~~//
**/
.supplier-form-wrapper,
.audit-form-wrapper,
.home-wrapper {
	max-width: 320px;
	margin: auto;
	text-align: center;
}
.supplier-form-title,
.audit-form-title,
.home-title {
	text-transform: uppercase;
	margin: 3rem;
}
.supplier-form-ditta,
.supplier-form-lotto,
.supplier-form-cig,
.supplier-form-referenti,
.supplier-form-oggetto,
.audit-form-ditta,
.audit-form-date,
.audit-form-time,
.audit-form-edificio {
	margin-bottom: 0.5rem;
}
.supplier-form-icon {
	margin-top: 2rem;
}
input,
textarea,
button,
select {
	border: 0;
	outline: 0;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--white);
	letter-spacing: 0.05rem;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}
input,
textarea,
select {
	transition: all 0.2s ease-in-out;
	box-shadow: 2px 2px 3px inset var(--lightgrey),
		-5px -5px 10px inset var(--real-white);
}
input:focus,
textarea:focus,
select:focus {
	color: var(--dark);
	box-shadow: 1px 1px 2px inset var(--lightgrey),
		-1px -1px 2px inset var(--real-white);
}

button {
	margin-top: 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-shadow: -5px -5px 10px var(--real-white), 5px 5px 20px var(--lightgrey);
}
button:hover {
	background-color: rgba(95, 158, 160, 0.1);
}
button:active {
	box-shadow: 1px 1px 2px inset var(--real-white),
		-1px -1px 2px inset var(--lightgrey);
}
ol {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	margin: 0;
}
li input {
	margin-bottom: 0.3rem;
}
/**
/*~~~~~~~~~~~~~~~//
/* AUDIT-FORM
/*~~~~~~~~~~~~~~~//
**/
.audit-page-wrapper {
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--real-white);
	display: grid;
	grid-template-columns: 150px 1fr 100px;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		'logo audit-content .'
		'logo piepagina .';
}
.logo {
	grid-area: logo;
	margin: 1rem;
	width: 100px;
}
.audit-page-content {
	text-align: justify;
	grid-area: audit-content;
	margin-top: 5rem;
}

.audit-page-oggetto {
	text-transform: uppercase;
	font-weight: bold;
}
.audit-page-bold-italic {
	margin: 1rem;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}
.audit-page-section {
	margin-top: 1rem;
}
.audit-page-firme {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.audit-page-firme p {
	width: 100%;
}
.audit-page-pdf {
	display: flex;
	justify-content: center;
}
.btn-audit-page-pdf {
	width: 320px;
}
.audit-page-piepagina {
	grid-area: piepagina;
	align-self: flex-end;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0.7rem;
}
.audit-page-piepagina-section {
	width: 25%;
	margin: 1rem;
}
