/* GENERAL */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333333;
  background-color: #f4f4f4;
  letter-spacing: 0.07rem;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

/* NAVBAR */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.active {
  color: cadetblue;
}
.nav-ul {
  display: flex;
  list-style: none;
}
.nav-li a {
  padding: 1rem;
  text-decoration: none;
}

/* HOME ABOUT */
.about-wrapper {
  margin-top: 3rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title1 img1"
    "body1 img1"
    ". img1";
}
.about-title {
  grid-area: title1;
  font-size: large;
  font-weight: bold;
  color: cadetblue;
}
.about-img {
  grid-area: img1;
  justify-self: center;
  align-self: center;
}
.about-body {
  grid-area: body1;
}

/* HOME VIRTUALITY */
.home-wrapper {
  margin-top: 3rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img2 title2 "
    "img2 body2 "
    "img2 . ";
}
.home-title {
  grid-area: title2;
  font-size: large;
  font-weight: bold;
  color: cadetblue;
}
.home-img {
  grid-area: img2;
  justify-self: center;
  align-self: center;
}
.home-body {
  grid-area: body2;
}

/* CONTACTS */
.contacts-wrapper {
  display: flex;
  margin: auto;
}
.contacts-ul {
  list-style: none;
}
.contacts-li {
  font-style: italic;
  color: cadetblue;
}

/* FOOTER */
footer {
  margin: auto;
  padding: 1rem 0;
}
